################################################################################
# Input/Output
################################################################################
# output directory (include trailing /)
output_dir: "tests/"

# fastq file location produced by fastq2json.py
fastqs: "tests/samples.json"
# skip splitting input fastq files into smaller chunks to speed up processing
split_lines: 1000000
################################################################################
# SSS extract and split
################################################################################
# samples with corresponding SSS barcode file, must match fastqs
samples:
    yi401: "workflow/resources/barcodes/barcode_sss_401_nova.txt"
sss_mismatches: 0
rt_mismatches: 3
rt_primer: GGGATGCAGCTCGCTCCTG
################################################################################
# Aligner settings
################################################################################
aligner: "bwa"
assembly: "hg38"
# assembly: "hg38_test"
# start from trimmed fastq, not requiring prior files, file generated by trimmed2json.py
from_trimmed: "tests/trimmed.json"
################################################################################
# Tn5 and ligation barcode
################################################################################
# the round1 barcode list (on tn5) for splitting single cells
tn5_barcodes: "workflow/resources/barcodes/barcode_tn5.txt"
# the round2 barcode list (by ligation) for splitting single cells
ligation_barcodes: "workflow/resources/barcodes/barcode_ligation_104.txt"
tn5_mismatches: 1
ligation_mismatches: 1
# Reads per single cell to keep (default: 10000)
cutoff: 2000
################################################################################   
# Indexes
################################################################################
hybrid_reference: False
bwa_index:
    hg38: "/genomes/GRCh38/GRCh38"
bowtie2_index:
    hg38: "/genomes/bowtie2_indexes/GRCh38"
################################################################################
# BAM split into single cells
################################################################################
# perform splitting of SSS BAMs into single cell BAMs
split_bam: True
# SSS bam locations to split, produced by sss_bam2json.py
# "tests/test_BAM/sss_samples.json"
sss_bams: "tests/sss_samples.json"
################################################################################
# Summary metrics
################################################################################
# generate all files for summary metrics/QC, requires split_bam to have been run
generate_summary: True
# generate summary for sequences with prefix "wprefix" (chr prefix: chr1, chr2) or human without prefix "woprefix" (no prefix: 1,2,...X,Y)
summary_for: "woprefix"
run_collisions: False
################################################################################
# Hybrid BAM split
################################################################################
# Will only be run if BAM filter also run.
run_split: True
# chr assembly prefix
prefix_1: "mouse"
# non-chr assembly prefix
prefix_2: "human"
hybrid_filter: "NC_007605,hs37d5"
################################################################################
# BAM filter
################################################################################
run_filter: True
natsort_chromosomes: True
# If hybrid assembly, specify which to process, else can use genome assembly as a postfix
process_only: "human"
# If not running hybrid split, can specify filter here instead of hybrid_filter
additional_filter: "hs37d5"
################################################################################
# Sample assignment
################################################################################
sample_assignment:
    - H9_primed:
        lib_SSS:
            - yi401_CGCTTG
            - yi401_GTCCTA
        Tn5:
            - "TGATATTG"
            - "GATCCCGT"
            - "CTCGATTA"
            - "CATCAAGG"
            - "TCCTTGTG"
            - "GGTCATAT"
            - "ATCGCGTT"
    - H9_primed:
        lib_SSS:
            - yi401_ACGCGA
        Tn5:
            - "TGATATTG"
            - "GATCCCGT"
            - "CTCGATTA"
            - "CATCAAGG"
            - "TCCTTGTG"
            - "GGTCATAT"
            - "ATCGCGTT"
    - WIBR3:
        lib_SSS:
            - yi401_ACGCGA
            - yi401_CGCTTG
            - yi401_GTCCTA
        Tn5:
            - "CATGCCCC"
            - "GTTACGCG"
            - "CCGCGCTT"
            - "TCTTAGTG"
            - "TCGGCCTA"
            - "CTTTCTCT"
            - "TCGCGTTT"
    - LNS:
        lib_SSS:
            - yi401_ACGCGA
            - yi401_CGCTTG
            - yi401_GTCCTA
        Tn5:
            - "GTCAGTAG"
            - "CCATGGAA"
            - "ATGCTGCG"
            - "GAGTCTTT"
            - "TACGATAT"
            - "ACCATTTA"
            - "ATCGGGAC"
            - "GACGTCGG"
    - BJ5ta:
        lib_SSS:
            - yi401_ACGCGA
            - yi401_CGCTTG
            - yi401_GTCCTA
        Tn5:
            - "CATTGTGT"
            - "TTTGACTC"